<div id="page" class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="user" *ngIf="owner">
                <a href="{{owner.html_url}}">
                    <img src="{{owner.avatar_url}}" alt="{{owner.login}}" width="50">
                    <div class="name">{{owner.name}}<i>{{owner.login}}</i></div>
                </a>
                <span>repositories <b>{{owner.public_repos}}</b></span>
                <span>gists <b>{{owner.public_gists}}</b></span>
                <span>followers <b>{{owner.followers}}</b></span>
                <span>following <b>{{owner.following}}</b></span>
                <span>years old <b>{{owner.spent_years}}</b></span>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <a [routerLink]="['/logout']" class="logout">Выйти</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" *ngFor="let repo of repositories">
                <div class="panel-body">
                    <div class="head">
                        <h2><a href="https://github.com/{{repo.owner}}/{{repo.name}}" target="_blank">{{repo.name}}</a></h2>
                        <span data-toggle="tooltip" data-title="Views/Unique" data-placement="top">{{repo.count}}/{{repo.uniques}}</span>
                        <ul class="poser-list list-unstyled list-inline pull-right">
                            <li><img src="https://poser.pugx.org/{{repo.owner}}/{{repo.name}}/downloads?format=flat" class="poser"></li>
                            <li><img src="https://poser.pugx.org/{{repo.owner}}/{{repo.name}}/d/monthly?format=flat" class="poser"></li>
                            <li><img src="https://poser.pugx.org/{{repo.owner}}/{{repo.name}}/d/daily?format=flat" class="poser"></li>
                        </ul>
                        <ul *ngIf="repo.languages" class="list-inline">
                            <li *ngFor="let lang of repo.languages">
                                <small><b>{{lang.name}}</b> {{lang.percent}}%</small>
                            </li>
                        </ul>
                    </div>
                    <small class="referrers" *ngIf="repo.referrers">
                        <ul class="list-unstyled list-inline text-muted">
                            <li *ngFor="let referrer of repo.referrers">{{referrer.referrer}} {{referrer.count}}/{{referrer.uniques}}</li>
                        </ul>
                    </small>
                    <div class="clearfix"></div>
                    <div morris-area id="{{repo.name}}" [name]="repo.name" [data]="repo.data" *ngIf="repo.data.length > 0"></div>
                </div>
            </div>
        </div>
    </div>
</div>