<div id="login-page" class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">Stats of your repositories</h1>
                <p class="lead">You can see stats of all your repositories on GitHub. Also if you have projects in the packagist.org, you can see information about downloads your packages.</p>
                <p class="lead">
                    <a href="{{authenticationService.getAuthLink()}}" class="btn btn-default btn-lg">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAABDlBMVEUAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiL+ublTAAAAWXRSTlMAAQIDBAUGBwoMDQ8QERITFRcYGhwdHh8lJicoKiwxMjQ1Nzk7QU9QUVRWV1xeX2Fkb3F4eXt8f4OFj5qdnqOlpqqrra+wsry+w8XHyMrT1d7g4uvt9/n7/fQTEl0AAAD2SURBVBgZhcHZQkFRAIbRfx9HRamkkeZRk4pGhTRPRFK+93+R9iY5rlpLv0Z2irXmx91BXH1iJbqeptWTbhGQVVeOfldGbdtQqdJVf4RTOWPAuBIPN9nMUeF5XmEgKasMDCgAqEqKYY2qx8eak3aBF6OAS+BcKgGLCooDNakORBXkYRl9AREFeVi+6sCUgoawjO6BfQWtAg0pAzR89ZgKkJcmsCoRdYULWMuSXknNtsiv+ZK8lbNvrIaRNEMzMgnvcm5pW5eT49qLpsJy9nCK6ihyOCgjZxPrLaQOcwEcy9kCyiH9WahxIifN54b6JBNyhpeM/vEDAodL3dSRubEAAAAASUVORK5CYII=" alt="">
                        Sign in
                    </a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner"></div>
            </div>

        </div>
    </div>
    <img src="/img/stats.JPG" class="cover-img">
</div>